<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.pict_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PICT_App">
        <activity
            android:name=".App.View.button3_view.Button3"
            android:exported="false" />
        <activity
            android:name=".App.View.Movie_Room.UpdateMovie"
            android:exported="false" />
        <activity
            android:name=".App.View.Movie_Room.AddMovie"
            android:exported="false" />
        <activity
            android:name=".App.View.Movie_Room.MovieListView"
            android:exported="false" />
        <activity
            android:name=".App.View.RetrofitList.RetrofitView"
            android:exported="false" />
        <activity
            android:name=".App.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PICT_App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>